[Unit]
Description=Kiosk Autostart

[Service]
ExecStartPre=bash -c 'if [[ ! -e /tmp/kiosk ]]; then sleep 60; touch /tmp/kiosk; fi'

[Install]
WantedBy=xdg-desktop-autostart.target
